<!-- <div class="row">
  <div class="col-md-6">
    <h1>Translation Tool</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button class="btn  dropdown-toggle" type="text" data-bs-toggle="dropdown" aria-expanded="false">
      English
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">English</a></li>
    </ul>
  </div>
</div> -->
<div class="col-md-6">
  <h1>Translation Tool</h1>
</div>
<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          English
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">English</a></li>

        </ul>
      </div>


      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="addingkey" type="submit"><i
          class="bi bi-plus-square-fill"></i></button> -->
      <button style="margin: 10px; padding: 10px;text-align: right; " type="button" class="btn btn-primary"
        (click)="openPopup()">Add data
      </button>
    </div>

  </nav>

</div>

<!-- adding  key -->
<!-- <div class="modal fade" id="addingkey" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add employee</button>
          </div>

        </form>




      </div>

    </div>
  </div>
</div> -->



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new Translation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="exampleInputEmail1" class="form-label">Locale</label>
              <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  English
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">English</a></li>

                </ul>
              </div>

            </div>
            <div class="col-md-6">
              <label for="exampleInputPassword1" class="form-label">Techincal Key</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <label class="form-check-label" for="exampleCheck1">Content</label>
              <input type="text" class="form-control" id="exampleCheck1">
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>

        </div>
      </div>

    </div>
  </div>
</div>