*{
  margin: 0;
  padding: 0;
  
}

h1{
  color: darkslateblue;
}

 .dropdown{
  background-color:white;
  /* margin-left: 40px; */
 
  border: 1px solid black;
  width: 100px;
  text-align: left;

}
/* .btn{
 
  /* margin-right: 40px; */
form .row{
  border-radius: 0%;
  
}
.modal-dialog {
  /* display: inline-block;
  vertical-align: middle; */
  padding-left: 120px;
  margin-left: 120px;
  width: 140%;

}